/* Crea una barra laterale con i seguenti componenti:

Aggiungi un'immagine della barra laterale che hai creato nella cartella come risultato finale.

 Utilizza la proprietà CSS Flexbox per gestire il layout.

**Suggestion:**

Per spostare l'avatar e il nome utente alla fine della barra laterale, 
assegna la proprietà `flex: 1` alla lista dei collegamenti. */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 1000;
    background-color: #214352;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
}

/* La barra laterale dovrebbe avere una larghezza di 200px e 
dovrebbe occupare l'intera altezza della pagina.  */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 244, 255);
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 100vh;
}

.logo {
    margin: 0px;
    padding: 10px;
    width: 30px;
}

.sidebar a {
    padding: 16px;
    text-decoration: none;
    color: #2b2b2b;
}

/* I 4 collegamenti devono avere un colore del testo (#2b2b2b) e dovrebbero cambiare in #2b2bb2 quando passi il mouse 
 sopra di essi, con una transizione di 0.3 secondi. */
.sidebar a:hover {
    color: #2b2bb2;
    transition-delay: 0.3s;
}

.userData {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin-top: 15em;
}

.userData>img {
    border-radius:50%;
    width: 50px;
}

/* article {
    padding: 10px;
    margin: 10px;
} */