/* Data la tabella, creare un foglio di stile tale che: */

/* - La tabella abbia un bordo di 1px di colore #263238 e sia larga la metà della pagina. */
table {
    border: 1px color(#263238) solid;
    width: 50%;
}

/* - Il titolo della tabella deve essere di colore #263238,in grassetto e grandezza 18px. 
Aggiungere inoltre un margine per staccare il testo dalla tabella */
caption {
    color: #263238;
    font: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

/* - L'header della tabella abbia colore di sfondo #455a64 e testo bianco con peso 700. */
thead {
    background-color: #455a64;
    color: white;
    font-weight: 700;
}

/* -TODO Le righe della tabella abbiano colore di sfondo alternato tra #eceff1 e #b0bec5. */
tr:nth-child(even) {
    background-color: #eceff1;
}

tbody:nth-child(odd) {
    background-color: #b0bec5;
}

/* - L'ultima riga della tabella abbia testo con peso 800 e sfondo di colore #78909c. */
tfoot {
    font-weight: 800;
    background-color: #78909c;
}

/* - Nel corpo della tabella la colonna delle entrate ha un testo di colore #003300. */
td:nth-child(2) {
    color: #003300;
}

/* - Nel corpo della tabella la colonna delle uscite ha un testo di colore #7f0000. */
td:nth-child(3) {
    color: #7f0000;
}

/* - I valori numerici sono allineati a destra.  */
td:nth-child(2),
td:nth-child(3) {
    text-align: right;
}